html, body {
	height: 100%;
	overflow: hidden;
}
* {
	font-family: "Microsoft YaHei";
	font-size: 1.5625vm;
	margin: 0;
	padding: 0;
	border: none;
}

/* 背景音乐 */
#music {
	position: fixed;
	z-index: 5;
	top: 3vh;
	right: 4vw;
	width: 15vw;
	height: 15vw;
	border-radius: 50%;
	border: 6px solid #ef1639;
	background: #fff;
}
#music > .music_disc {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 79%;
	margin: auto;
}
#music > .music_pointer {
	position: absolute;
	top: 24%;
	right: 2.5%;
	width: 28.421%;
}

/* page */
.page {
	
}
.page > .bg {
	height: 100%;
}

/* 第一页 */
#page_1 {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#page_1 > .bg {
	background: url("../images/p1_bg.jpg");
	background-size: 100%;
}
#page_1 > .p1_lantern {
	position: absolute;
	z-index: 0;
	top: -3.4%;
	right: 0;
	left: 0;
	height: 71.2vh;
	width: 45vw;
	box-sizing: border-box;
	margin: auto;
	background: url("../images/p1_lantern.png") no-repeat bottom center;
	background-size: 100%;
	font-size: 3.505rem;
	padding-top: 31vh;
	text-align: center;
	color: #fff;
}
#page_1 > .p1_lantern:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30vw;
	height: 30vw;
	content: '';
	margin: auto;
	opacity: .5;
    box-shadow: 0 0 10vw 10vw #d60b3b;
    border-radius: 50%;
    background: #d60b3b;
}
#page_1 > .p1_imooc {
	position: absolute;
	right: 0;
	bottom: 9.2vh;
	left: 0;
	width: 27.656vw;
	height: 18.63vh;
	margin: auto;
	background: url("../images/p1_imooc.png");
	background-size: 100%;
}
#page_1 > .p1_words {
	position: absolute;
	right: 0;
	bottom: 48px;
	left: 0;
	text-align: center;
	font-size: 2.134rem;
	color: #231815;
}

/* 第二页 */
#page_2 {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#page_2 > .bg {
	background: url("../images/p2_bg.jpg");
	background-size: 100%;
}

/* 第三页*/
#page_3 {
	display: none;
}